<div class="text-center">
    <h4>まずは家族名を登録しましょう！</h4>
    <p>家族名を登録後、食材の追加や家族の招待ができます。</p>
</div>

<div class="row">
  <div class="col-sm-6 offset-sm-3">

    <%= form_with(model: user, local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="form-group">
        <%= f.label :family, '家族名' %>
        <%= f.text_field :family, class: 'form-control' %>
      </div>
      <%= f.submit '登録', class: 'btn btn-primary btn-block' %>
    <% end %>
  </div>
</div>