<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <h5 class="mb-3">プロフィール画像</h5>
          <%= form_with(model: @user, local: true) do |f| %>
            <div>
              <% if @user.image? %>
                <%#= image_tag @user.image.url, :size => '150x150' , onClick:"$('#upfile').click()" %>
                <%#= f.file_field :image, style:"display:none;", id:"upfile" %>
                <img class = "rounded" src="<%= @user.image %>">
              <% else %>
                <%#= image_tag "/assets/default.jpg", :size => '150x150' %>
                <img class = "rounded" src="/assets/default.jpg">
              <% end %>
            </div>  
            <div class="small mt-2">
              <%= f.file_field :image %>
            </div>
            <div class="mt-2 ml-0">
          　　<%= f.submit '更新する', class: 'btn btn-primary' %>
        　　</div>
          <% end %>
         
        </div>
      </div>
      <div class="mt-2 mb-2">
        <%= link_to "戻る", user_path %>
      </div>
    </div>
    
    
    
    
    <div class='col-md-6'>
      <div class="card">
        <%= render "users/leave_family", user: @user %>
      </div>
    </div>
  </div>
</div>