<div class="container">
  <div class="text-center mt-5">
    <h4><%= current_family.name %>  の家族一覧</h4>
  </div>
  
  <div class="row mt-5">
    <div class="col-sm-5 text-center">
          <h4 class="card-title"><%= @user.name %></h4>
          <%= form_with(model: @user, local: true) do |f| %>
            <% if @user.image? %>
              <%= image_tag @user.image.url, :size => '200x200' %>
            <% else %>
              <%= image_tag "/assets/default.jpg", :size => '200x200' %>
            <% end %>
          <% end %>
          <div>
            <%= link_to "ユーザ情報の編集", edit_user_path %>
          </div>
    </div>
    
    <div class="col-sm-7">
      <%= render 'index', users: @users %>
    </div>
  </div>
  
  <div class="text-center mt-5">
    <p><%= current_family.name %> に招待するにはこちら</p>
    <%= render 'requests/request_form', user: @user %>
  </div>
  
  
  <%= render "users/requesting", guests: @guests %>

</div>