<%= render 'requests/invited', requests: @requests %>
<div class="row">
  <aside class="col-sm-5">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title"><%= @user.name %></h4>
      </div>
      <div class="card-body">
        <%= form_with(model: @user, local: true) do |f| %>
          <% if @user.image? %>
            <%= image_tag @user.image.url, :size => '200x200' %>
          <% else %>
            <%= image_tag "/assets/default.jpg", :size => '200x200' %>
          <% end %>
          <button type="button" class="btn">
            <%= f.file_field :image %>
            <%#= f.hidden_field :id, value: @user.id %>
          </button>
      　　<%= f.submit '更新する', class: 'btn btn-primary' %>
        <% end %>
      </div>
    </div>
  </aside>
  <div class="col-sm-7">
      
      <%= render 'index', users: @users %>
     
    
  </div>
  
</div>
<div class="text-center mt-5">
  <p><%= current_family.name %> に招待するにはこちら</p>
  <%= render 'requests/request_form', user: @user %>
</div>

<%#= render "users/requesting", guests: @inviting_users %>