      <div class="row">
        <% foods.each do |food| %>
          <div class="card shadow rounded-0 col-6 col-md-4 p-0" data-toggle="modal" data-target="#edit-<%= food.id %>">
            <div class="" style="overflow:hidden; text-overflow:ellipsis; white-space:nowrap;"><span class="p-2 badge badge-secondary rounded-0 font-weight-normal" style="background-color:<%= placecolor(food) %>"><%= food.place %></span><span class="font-weight-bold"> <%= food.name %></span></div>
            <div class="container">
              <div class="mt-1 mb-1" ><span class="lead font-weight-normal"><%= food.quantity %></span> <span class=""><%= food.unit %></span></div>
              <div class="row justify-content-between mb-1">
                <div class="small col-8"><%= food.purchase_date %></div>
                <div class="col text-right" style=""><%= link_to(food, method: :delete, class:"btn p-0 text-muted") do %><i class="fas fa-trash-alt"></i><% end %></div>
              </div>
            </div>
          </div>
          
          <div class="modal fade" id="edit-<%= food.id %>" tabindex="-1">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h4><%= food.name %></h4>
                  <button class="close" data-dismiss="modal"><span>&times;</span></button>
                  
                </div>
                <div class="modal-body">
                  <div class="mb-2">残量を編集</div>
                  <%= render 'foods/edit_quantity', food: food %>
                  <p class="mt-3">購入日　<%= food.purchase_date %></p>
                </div>
                
                
              </div>
            </div>
          </div>
        <% end %>
      </div>