<div class="container">
  <div class="row">
    <table class="table table-sm table-hover col-md-8">
      <thead>
        <tr>
          <th>食品名</th>
          <th>保存場所</th>
          <th>購入日</th>
          <th>数量</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
          <tr>
            <td style="width:25%"><%= food.name %></td>
            <td style="width:10%"><%= food.place %></td>
         <!--   <td style="width:10%"><%#= food.quantity %></td> -->
            <td style="width:15%"><%= food.purchase_date %></td>
            <td style="width:17%"><%= render 'foods/edit_quantity', food: food %> </td>
            <td style="width:10%"><%= link_to "使い切る", food, method: :delete, class: 'btn btn-danger btn-sm' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  
    <aside class="offset-md-1 col-md-3">
      <%= render "memos/memo_form", memo: @memo %>
      <%= render "memos/memos_index", memos: @memos %>
    </aside>
  </div>
</div>