<div class="container mt-4 mb-5">
  <div class="row">
    
    <div id="foods" class="col-md-9 mb-5 pr-md-5">
      <h4 class="mb-3 letter-wide">食材一覧<span class="ml-5 small"><%= link_to(new_food_path, class: "btn btn-green")do %><i class="fas fa-plus"></i> 追加<% end %></span></h4>
      <%#= render "foods_tab", foods: @foods %>
      <ul class="nav nav-pills nav-justified mb-2">
        <li class="nav-item"><a href="<%= foods_path %>" class="nav-link foods-tab <%= 'active' if current_page?(foods_path) %>"><i class="fas fa-utensils fa-lg"></i><br><span class="small">全て</span></a></li>
        <li class="nav-item"><a href="<%= meats_foods_path %>" class="nav-link foods-tab <%= 'active' if current_page?(meats_foods_path) %>"><i class="fas fa-fish fa-rotate-180 fa-lg"></i><br><span class="small d-none d-sm-inline">肉・魚</span><span class="d-sm-none small">肉類</span></a></li>
        <li class="nav-item"><a href="<%= veges_foods_path %>" class="nav-link foods-tab <%= 'active' if current_page?(veges_foods_path) %>"><i class="fas fa-carrot fa-lg"></i><br><span class="small d-none d-sm-inline">野菜・果物</span><span class="d-sm-none small">野菜</span></a></li>
        <li class="nav-item"><a href="<%= drinks_foods_path %>" class="nav-link foods-tab <%= 'active' if current_page?(drinks_foods_path) %>"><i class="fas fa-wine-glass-alt fa-lg"></i><br><span class="small">飲料</span></a></li>
        <li class="nav-item"><a href="<%= others_foods_path %>" class="nav-link foods-tab <%= 'active' if current_page?(others_foods_path) %>"><i class="fas fa-cookie fa-lg"></i><br><span class="small d-none d-sm-inline">その他</span><span class="d-sm-none small">他</span></a></li>
      </ul>
        
      <div class="tab-content">
        <%= render "foods_index", foods: @veges %>
      </div>
      
    </div>
  
    <aside id="memos" class="col-md-3">
      <h4></h4>
      <%= render "memos/memo_form", memo: @memo %>
      <%= render "memos/memos_index", memos: @memos %>
    </aside>
    
  </div>
</div>
  
  
<div class="d-sm-none d-block fixed-bottom">
  <div class="row border-top p-2" style="background-color:#eee">
    <div class="col text-center"><a href="#foods" class="text-dark"><i class="fas fa-utensils fa-lg"></i>  食材</a></div>
    <div class="col text-center"><a href="#memos" class="text-dark"><i class="far fa-sticky-note fa-lg"></i>  メモ</a></div>
  </div>


</div> 