
    <ul class="list-unstyled">
      <% memos.each do |memo| %>
        <li class="media mt-3">
          <% if memo.user.image? %>
            <img class = "rounded" src="<%= memo.user.image %>" width=50 height=50>
          <% else %>
            <img class = "rounded" src="/assets/default.jpg" width=50 height=50>
          <% end %>
          <div class="container media-body ml-3">
            <div class="row justify-content-between">
              <%= memo.user.name %>
              <% if current_user == memo.user %>
                <%= link_to "削除", memo, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
              <% end %>
            </div>
            <div class="row" style="color:gray">
              <%= memo.created_at.to_s(:datetime_jp) %>
            </div>
            <div class="row">
              <%= safe_join(memo.content.split("\n"),tag(:br)) %> 
            </div>
          </div>
        </li>
      <% end %>
    </ul>